body{
    background: hsl(212, 45%, 89%);
}

img{
    border-radius: 10px;
}
.container{
    margin: 60px auto;
    background: hsl(0, 0%, 100%);
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

.container-texto{
    text-align: center;
}

.container-texto h1{
    padding-top: 35px;
    font-size: 25px;
    padding-bottom: 20px;
    color: hsl(218, 44%, 22%);
}

.container-texto p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    padding-bottom: 10px;
}